/** @format */

.sidebar-head {
  min-height: 10vh;
  @include flex(center, center, row);
  margin: 0.5rem;

  p {
    flex: 5 1 20rem;
    text-align: center;
    font-size: 1.5rem;
    color: white;
  }

  .logout-button {
    flex: 1 1 20rem;
    text-align: center;

    button {
      cursor: pointer;
      width: 50%;
      border: none;
      color: white;
      background: $primary;
    }
  }
}

.history {
  min-height: 20vh;
  @include flex(center, center, column);

  .fa-calendar-plus {
    color: white;
    cursor: pointer;
  }
}

.content-navbar {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
  background: white;
}

.drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70%;
  margin: 0.5rem;
  text-align: center;
  border: 1px dotted rgb(7, 176, 182);
}
